
*
{
box-sizing: border-box;
}
/*style the body*/
/* body
{
font-family: Times new roman, Helvetica, sans-serif;
margin: auto;
} */

/* Style the header */
.header
{
padding: 10px;
text-align: center;
background: white;
color: black;
}

/* Increase the font size of the h1 element */
.header h1
{
font-size: 32px;
}

/* Style the top navigation bar */
.navbar
{
overflow: hidden;
background-color: #333;
}

/* Style the navigation bar links */
.navbar a
{
float: left;
display: block;
color: white;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}

/* Right-aligned link */
.navbar a.right
{
float: right;
}

/* Change color on hover */
.navbar a:hover
{
background-color: #ddd;
color: black;
}
/*style the div with class name form*/
.form
{
  margin: auto;
  width: 70%;
  border: 3px solid #555555;/* Black */
  padding: 10px;
}
table
{
  width: 100%;
}
.buttontd
{
text-align: center;
}
span
{
color:#FF0000;
}
input[type=text], input[type=tel],input[type=date],input[type=email], select,textarea
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
select
{
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
/*style the link with class name btn*/

.submit
{
background-color: #4CAF50; /* Green */
color: white;
}
button
{
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}

button:hover
{
  background-color: #3e8e41;
  color: white;
}

.view_table th
{
	background-color:#999999;
	text-align:left;
	padding:8px;
	font-size:18px;
	color:#000000;
}
.view_table td
{
	text-align:left;
	padding:8px;
}
.view_table tr:hover{ background-color: #CCCCCC;}
.view_table td:hover{ background-color: #3e8e41;color: white;}
