.container_reg
{
  border: 5px solid azure;
  background-color: azure;
  text-align: center;
  position: relative;
  left: 780px;
  width: 450px;
  height: 450px;
  top:-100px;
}

.img_container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 150px;
}

.notification_container
{
  border: 5px solid black;
  text-align: center;
  position: relative;
  left: 40px;
  width: 1200px;
  height: 450px;
  top:-10px;
}

.img_inst{
  background-image: url('inst.jpeg');
  height: 350px;
  width: 450px;
  left:40px;
}

.iframe_container{
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  border: 0;
   height: 100%;
   left: 0;
   position: relative;
   top: 0;
   width: 100%;
}
.marquee_container {
  width: 100%;
  height: 20px;
  border-width: 0px;
  border-style: solid;
  white-space: nowrap;
  overflow: hidden;
}

.marquee {
  position: fixed;
  animation: scroll 5s linear infinite
}

@keyframes scroll {
  0% {
    left: 100%;
  }
  100% {
    left: -50px;
  }
}
