<style>
* 
{
box-sizing: border-box;
}
/*style the body*/
body 
{
font-family: Arial, Helvetica, sans-serif;
margin: auto;
}
/* Style the header */
h1
{
padding: 30px;
padding-bottom: 5px;
text-align: center;
}
/*style the div with class name form*/
.form 
{
  margin: auto;
  width: 70%;
  border: 3px solid #555555;/* Black */
  padding: 10px;
}

@media only screen and (max-width: 1000px)
{
  .form{margin: auto;width: 90%; font-size: 20px;}
  #balance{font-size: 20px; max-height: 150px;}
  input[type=text], input[type=tel],input[type=date],input[type=number],input[type=button], select,textarea,button
  {font-size: 20px;}
  h2{font-size: 30px;}
}

table 
{
  width: 100%;
}

span 
{
color:#FF0000;
}
input[type=text], input[type=tel],input[type=date],input[type=number], select,textarea 
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
select 
{
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
/*style the link with class name btn*/

.submit 
{
background-color: #4CAF50; /* Green */
color: white;
}
/*.add 
{
width: 100%;
background-color: gray;" 
background-color: #4CAF50; 
color: black;
}*/
.rm 
{
background-color: #F33; /* Red */
color: white;
margin-bottom: 10px;
float:right; 
}
.submit,.rm
{
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}
.submit
{
padding: 10px 15px;
}
.submit_center
{
	text-align:center;
}

.submit:hover 
{
  background-color: #390;
}
/*.add:hover 
{
  background-color: #390;
}*/
.rm:hover
{
	background-color: #F00;
}
/*.add
{
    margin-right: 16px;
}*/
.img_container 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 225px;
  height: 150px;

</style>
